body{
   margin: 0;
   padding:0%;
   box-sizing: border-box;
   background-color: #5dffc1;
}
.nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #007a99;
}

.nav-links  ul{
   display: flex;
   list-style-type: none;

}

.nav-links li a{
   text-decoration:none;
   list-style-type: none;
   margin: 0 14px;
   color:blue;
}

.regform{
   background-color:#004e67;
   border: 2px solid;
   margin-right: 3%;
   margin-left: 2%;
   padding: 20px;
   border-radius: 25px;
   position:absolute;

}
.form {
   display: inline-block;
} 

.regform-form, input #fname, #mname, #lname{
   width: 20%;

}
.input-h2 #birthday{
   margin: 1%;
   width: 20%;
   
}
.input-h2 #gender, #course{
   margin: 1%;
   width: 20%;
}

.input-h2 #street-address,#pzc{
   margin: 1%;
   width: 70%;
}
.footer{

   align-items: center;
   justify-content: space-between;
   padding-top: 1px;
   margin-top: 170%;
   display: flex;
   background-color:tan;
   padding-bottom: 2px;
   font-size:large;
 }
